name: Build and Deploy Docker Image

on: [pull_request,workflow_dispatch]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Generate uuid from shortened commit SHA
      id: uuid
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push Docker Image
      env:
          IMAGE_TAG: back-promo-sniper-${{ steps.uuid.outputs.sha_short }}
      run:
          docker buildx build -t ttl.sh/${IMAGE_TAG}:1h .
          docker push ttl.sh/${IMAGE_TAG}:1h

    - name: Deploy Image to CapRrover
      uses: caprover/deploy-from-github@v1.1.2
      env:
          IMAGE_TAG: ttl.sh/back-promo-sniper-${{ steps.uuid.outputs.sha_short }}:1h
      with:
        server: "${{ secrets.CAPROVER_SERVER }}"
        app: "${{ vars.BACKEND_APP_NAME }}"
        token: "${{ secrets.BACKEND_APP_TOKEN }}"
        image: $IMAGE_TAG
