name: Build and Deploy Docker Image

on: [pull_request,workflow_dispatch]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      
    - name: Install Caprover
      run: |
        npm install -g caprover
        

    - name: Generate uuid from shortened commit SHA
      id: uuid
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"


    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build and push Docker Image
      env:
          IMAGE_TAG: back-promo-sniper-${{ steps.uuid.outputs.sha_short }}
      run: |
          docker buildx build -t ttl.sh/${IMAGE_TAG}:1h .
          docker push ttl.sh/${IMAGE_TAG}:1h

    - name: Deploy Image to CapRrover
      shell: bash
      env:
          IMAGE_NAME: ttl.sh/back-promo-sniper-${{ steps.uuid.outputs.sha_short }}:1h
      run: |
          echo "Deploying image to CapRover..."
          caprover deploy --host ${{secrets.CAPROVER_SERVER}} --appToken ${{secrets.BACKEND_APP_TOKEN}} --appName ${{vars.BACKEND_APP_NAME}} --imageName ${{ env.IMAGE_NAME }}
